{%extends 'base/header.html'%}

{%block 'titulo'%}
Portal Funcionários
{%endblock%}

{% block 'navbar' %}
    {%include 'navbar/topbar.html' %}    
{% endblock%}

{%block 'conteudo'%}

{% load static %}

<style>
    .download-button:hover {
        background-color: gray;
        color: white !important;
    }
</style>
    <div class="p-4 row">
        {% for recibo in recibos %}
            <!-- Contracheques -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-2">
                <div class="card text-center shadow-lg download-button h-100">
                    <a href="{{recibo.arquivo}}" class="text-decoration-none">
                        <div class="px-4 pt-4 text-dark" style="font-size: 8vw;">
                            <i class="fas fa-calendar-day"></i>                             
                        </div>
                        <div class="card-body ">
                            <p class="card-text text-dark">{{ recibo.nome }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{%endblock%}

