{%extends 'base/header.html'%}

{% block 'conteudo' %}
<div class="main_change_psswrd d-flex justify-content-center pt-4">
  <div class="col-md-6 col-sm-12 align-items-center d-flex justify-content-center flex-column">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
            <h2>Criar Nova Senha 🔒</h2>
        </div>

        <div class="text-center py-2">OBS: Você está com um senha auto-gerada. Por questões de segurança, altere sua senha.</div>
          
        {% include 'alerts/general.html' %}
        {% include 'user/_user-form.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock 'conteudo' %}