{%extends 'base/header.html'%}

{% block 'body_style'%}
<style>
  body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 80%;
      /* background: linear-gradient(45deg, #FFA500, #FFFF00, #0000FF); */
  }

  img {
    max-width: 80%;
    height: auto;
  }
</style>
{% endblock 'body_style' %}
{% block 'conteudo' %}

<div class="col-12 d-flex justify-content-center">
  <div class="col-sm-12 col-md-6 col-lg-3 card ">
    <div class="card-body form-wrapper">
      
      <div class="text-center">
          <img src="/media/sistema/logo.png" class="d-inline-block align-top my-4" alt="">
      </div>
      
      {% include 'alerts/general.html' %}
        {% if user.is_authenticated %}
          <p>
            Você fez login como {{ user.username }}.
            Clique <a href="{% url 'home:logout' %}">aqui</a>
            para sair.
          </p>
        {% else %}
          {% include 'user/_user-form.html' %}
        {% endif %}
    </div>
  </div>
</div>
{% endblock 'conteudo' %}